* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

.special {
    color: green;
}

.box {
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
}